:root{
    //basic
    --white-color: #fff;
    --black-color:#000;

    //custom blue
    --blue-color: #2651bf;
    --blue-color-10: #465a75;

    //custom gray
    --gray-color:#f9f9f9;
    --gray-color-10:#8e8e8e;
    --gray-color-20:#d7dce4; 
    
    //custom orange
    --orange-color:#fea838;
}